{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img mt-1" src="{{ object.author.profile.image.url }}"></img>
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-messages' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">
            {{object.date_posted|date:"F j, Y \a\t g:i a"}}
          </small>
          <button class="btn btn-link float-right mt-n2 pt-1 text-muted" type="button" id="messageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
              <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path>
            </svg>
          </button>
          <div class="dropdown-menu" aria-labelledby="messageDropdown">
            <a class="dropdown-item" href="{% url 'message-detail' message.id %}">Reply</a>
            {% if message.author == user %}
              <a class="dropdown-item" href="{% url 'message-update' message.id %}">Edit</a>
              <a class="dropdown-item" href="{% url 'message-delete' message.id %}">Delete</a>
            {% endif %}
          </div>
        </div>
        <h3><a class="article-title" href="{% url 'message-detail' object.id %}">{{ object.title }}</a></h3>
        <p class="article-content">{{ object.content }}</p>
      </div>
    </article>
{% endblock content %}
