{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <h1 class="border-bottom mb-4">User Profile
      {% if target_user.username == user.username %}
        <button class="btn btn-link float-right text-muted" type="button" id="messageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path>
          </svg>
        </button>
        <div class="dropdown-menu" aria-labelledby="messageDropdown">
          <a class="dropdown-item" href="{% url 'profile'%}">Edit Profile Info</a>
        </div>
      {% endif %}
      </h1>
      <div class="media">
        <img style="object-fit: cover" class="rounded-circle account-img" src="{{ target_user.profile.image.url }}">
        <div class="media-body">
          <h2 class="">{{ target_user.username }}</h2>
          <p class="text-secondary">{{ target_user.email }}</p>
        </div>
      </div>
      
    <h3 class="ml-2 pb-2 my-4 border-bottom">Messages from {{target_user.username}} ({{page_obj.paginator.count}})</h3>
    {% for message in message_set %}
      <article class="media content-section">
        <img style="object-fit: cover" class="rounded-circle article-img mt-1" src="{{ message.author.profile.image.url }}"></img>
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-messages' message.author.username %}">{{ message.author }}</a>
            <small class="text-muted">
              {{message.date_posted|date:"F j, Y \a\t g:i a"}}
            </small>
            <button class="btn btn-link float-right mt-n2 pt-1 text-muted" type="button" id="messageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path>
              </svg>
            </button>
            <div class="dropdown-menu" aria-labelledby="messageDropdown">
              <a class="dropdown-item" href="{% url 'message-detail' message.id %}">Reply</a>
              {% if message.author == user %}
                <a class="dropdown-item" href="{% url 'message-update' message.id %}">Edit</a>
                <a class="dropdown-item" href="{% url 'message-delete' message.id %}">Delete</a>
              {% endif %}
            </div>
          </div>
          <h3><a class="article-title" href="{% url 'message-detail' message.id %}">{{ message.title }}</a></h3>
          <p class="article-content">{{ message.content }}</p>
        </div>
      </article>
    {% endfor %}
    
    {%if is_paginated%}
    {# Page number traversal #}
    <div class="d-flex justify-content-center pl-5 pr-5">
      {# Clickable or muted previous page link #}
      {%if page_obj.has_previous%}
        <a href="?page={{ page_obj.previous_page_number }}"><</a>
      {%else%}
        <p class="d-inline text-muted"><</p>
      {%endif%}

      {# Display "1 ..." at the beginning #}
      {%if page_obj.number|add:'-3' >= 1%}
        <a class="mx-1" href="?page=1">1</a>
        {%if page_obj.number|add:'-3' > 1%}
          <p class="d-inline mx-1">...</p>
        {%endif%}
      {%endif%}

      {# Display page numbers within distance of 2 in both directions #}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="font-weight-bold mx-1" href="?page={{num}}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="mx-1" href="?page={{ num }}">{{num}}</a>
        {%endif%}
      {%endfor%}

      {# Display "... (last page)" at the end #}
      {%if page_obj.number|add:'3' <= page_obj.paginator.num_pages%}
        {%if page_obj.number|add:'3' < page_obj.paginator.num_pages%}
          <p class="d-inline mx-1">...</p>
        {%endif%}
        <a class="mx-1" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a>
      {%endif%}

      {# Clickable or muted next page link #}
      {%if page_obj.has_next%}
        <a href="?page={{ page_obj.next_page_number }}">></a>
      {%else%}
        <p class="d-inline text-muted">></p>
      {%endif%}
    </div>
    {%endif%}
    </div>
{% endblock content %}
